@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.list-inline {
  list-style: none;
}
.list-inline li {
  display: inline-block;
  padding: 20px 10px;
  margin: 0 10px;
}
.list-inline li.active {
  background-color: #B2E5FC;
}
.list-inline li:hover {
  background-color: #B2E5FC;
}
.list-inline li a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  text-align: center;
}
header img {
  margin: 50px 0;
}

#home-container {
  background-image: url("../img/fondo-pag-speciali.jpg");
  padding: 60px 0;
}
#home-container h2 {
  color: #002D73;
  font-size: 34px;
  margin: 10px 0 10px 5px;
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: calc(100% / 3 - 10px);
  margin: 5px;
}
.card img {
  max-width: 100%;
}

.card-link {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-link a {
  text-decoration: none;
  display: none;
}
.card-link:hover a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.card-link:hover {
  cursor: pointer;
  background-color: rgba(50, 82, 123, 0.1);
}

#product-container {
  width: 100%;
  color: #002D75;
  background-color: #B8DAE4;
  padding-bottom: 50px;
}
#product-container img {
  max-width: 100%;
}
#product-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 24px;
}
#product-container #product-pack {
  margin-top: -10px;
}
#product-container p {
  width: 100%;
  font-size: 20px;
  text-align: left;
}

footer {
  padding-top: 100px;
}
footer .container {
  display: flex;
}
footer .container img {
  width: 300px;
}

#footer-left, #footer-middle, #footer-right {
  width: calc(100% / 3);
}

#footer-middle h2, #footer-right h2 {
  font-size: 28px;
  color: #8B93A1;
  margin: 20px 0;
}
#footer-middle .column-list li, #footer-right .column-list li {
  margin-top: 10px;
}

.column-list {
  list-style: none;
}
.column-list li a {
  text-decoration: none;
  color: #8B93A1;
  font-size: 18px;
}

#footer-bottom {
  width: 100%;
  height: 140px;
  background-image: url("../img/footer-montagne-bottom.jpg");
}
