@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.list-inline {
  list-style: none;
}
.list-inline li {
  display: inline-block;
  padding: 20px 10px;
  margin: 0 10px;
}
.list-inline li.active {
  background-color: #B2E5FC;
}
.list-inline li:hover {
  background-color: #B2E5FC;
}
.list-inline li a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  text-align: center;
}
header img {
  margin: 50px 0;
}

main {
  background-image: url("../img/fondo-pag-speciali.jpg");
  padding: 60px 0;
}

h2 {
  color: #002D73;
  font-size: 34px;
  margin: 10px 0 10px 5px;
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 3 - 10px);
  margin: 5px;
}
.card img {
  max-width: 100%;
}
