main {
  background-image: url('../img/fondo-pag-speciali.jpg');
  padding: 60px 0;
}

h2 {
  color: $h2_main_color;
  font-size: 34px;
  margin: 10px 0 10px 5px;
}

.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 3 - 10px);
  margin: 5px;
  img {
    max-width: 100%;
  }
}